.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/

/inputs/

/solvers/cpp/build*/
/solvers/cpp/CMakeUserPresets*.json
/solvers/cpp/ci.env
/solvers/cpp/conan-profile-ci

/solvers/rust/target/
