---
Checks: >-
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*, -portability-avoid-pragma-once,
  readability-*, -readability-identifier-length,
  -bugprone-exception-escape, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -misc-include-cleaner,
  -modernize-use-trailing-return-type
CheckOptions:
  modernize-use-ranges.IncludeStyle: "google"
  modernize-use-trailing-return-type.TransformLambdas: "all_except_auto"
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
