[tools]
"pipx:clang-format" = "21.1.8"
conan = "2.24.0"
sccache = "0.12.0"

[tasks.check]
depends = [
  "check:clang-format",
]

[tasks."check:clang-format"]
run = '''
files=$(git ls-files | grep -E '\.hpp$|\.cpp$')
clang-format -n -Werror --verbose $files
'''

[tasks.fix]
depends = [
  "fix:clang-format",
]

[tasks."fix:clang-format"]
run = '''
files=$(git ls-files | grep -E '\.hpp$|\.cpp$')
clang-format -i $files
'''
