[tools]
"pipx:clang-format" = "22.1.0"
"pipx:gersemi" = "0.26.0"
conan = "2.25.2"
sccache = "0.12.0"

[tasks.check]
depends = [
  "check:clang-format",
  "check:gersemi",
]

[tasks."check:clang-format"]
run = '''
files=$(git ls-files | grep -E '\.hpp$|\.cpp$')
clang-format -n -Werror --verbose $files
'''

[tasks."check:gersemi"]
run = '''
files=$(git ls-files | grep -E '\.cmake$|CMakeLists\.txt$')
gersemi --check --diff --color --warnings-as-errors $files
'''

[tasks.fix]
depends = [
  "fix:clang-format",
  "fix:gersemi",
]

[tasks."fix:clang-format"]
run = '''
files=$(git ls-files | grep -E '\.hpp$|\.cpp$')
clang-format -i $files
'''

[tasks."fix:gersemi"]
run = '''
files=$(git ls-files | grep -E '\.cmake$|CMakeLists\.txt$')
gersemi --in-place --warnings-as-errors $files
'''
