name: Cleanup GitHub runner caches on closed pull requests
on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: "Pull request number"
        required: true
permissions: {}

jobs:
  resolve-pr-number:
    name: Resolve PR number
    outputs:
      pr_number: ${{ steps.resolve.outputs.pr_number }}
    permissions:
      actions: read
    runs-on: ubuntu-24.04
    steps:
      - env:
          EVENT_PR_NUMBER: ${{ github.event.pull_request.number }}
          INPUT_PR_NUMBER: ${{ github.event.inputs.pull_request_number }}
        id: resolve
        run: |
          # Resolve PR number
          prNumber="${EVENT_PR_NUMBER:-${INPUT_PR_NUMBER}}"
          if [[ -z "${prNumber}" ]]; then
            echo "::error::Pull request number not provided"
            exit 1
          fi

          echo "::group::Outputs"
          {
            echo "pr_number=${prNumber}"
          } | tee -a "${GITHUB_OUTPUT}"
        shell: bash

  cleanup:
    name: Cleanup caches
    needs: resolve-pr-number
    permissions:
      actions: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Restore mise tools
        uses: ./.github/actions/mise-project-setup
        with:
          directory: .

      - name: Cleanup caches

        env:
          GH_TOKEN: ${{ github.token }}
          MISE_TASK: "github:cache:remove-for-pr"
          PR_NUMBER: ${{ needs.resolve-pr-number.outputs.pr_number }}
        run: mise run "${MISE_TASK}"
        shell: bash
