name: C++ build, test and run
on:
  workflow_call:
    inputs:
      homebrew-downloads-hash-from-prepare-macos:
        description: Hash of cached Homebrew downloads on MacOS
        required: true
        type: string
      homebrew-downloads-hash-from-prepare-ubuntu:
        description: Hash of cached Homebrew downloads on Ubuntu
        required: true
        type: string
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build-test-run:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        compiler:
          - clang
          - gcc
        cxxLib:
          - libc++
          - libstdc++
        buildType:
          - debug
          - release
        exclude:
          - compiler: gcc
            cxxLib: libc++
        include:
          - os: ubuntu
            homebrew-downloads-hash-from-prepare: ${{ inputs.homebrew-downloads-hash-from-prepare-ubuntu }}
            runsOn: ubuntu-24.04

          - os: ubuntu
            compiler: clang
            cxxLib: libc++
            buildType: sanitizers
            homebrew-downloads-hash-from-prepare: ${{ inputs.homebrew-downloads-hash-from-prepare-ubuntu }}
            runsOn: ubuntu-24.04

          - os: macos
            compiler: clang
            cxxLib: libstdc++
            buildType: release
            homebrew-downloads-hash-from-prepare: ${{ inputs.homebrew-downloads-hash-from-prepare-macos }}
            runsOn: macos-15

    name: ${{ matrix.os }} ${{ matrix.compiler }} ${{ matrix.cxxLib }} ${{ matrix.buildType }} - Build + test + run
    runs-on: ${{ matrix.runsOn }}
    timeout-minutes: 30

    steps:
      - id: preset-name
        name: Define workflow preset name

        env:
          MATRIX_BUILDTYPE: ${{ matrix.buildType }}
          MATRIX_COMPILER: ${{ matrix.compiler }}
          MATRIX_CXXLIB: ${{ matrix.cxxLib }}
          MATRIX_OS: ${{ matrix.os }}
        run: |
          name="ci-${MATRIX_OS}-${MATRIX_COMPILER}-${MATRIX_CXXLIB}-${MATRIX_BUILDTYPE}"
          echo "name=${name}" | tee -a "${GITHUB_OUTPUT}"
        shell: bash

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Setup homebrew packages
        uses: ./.github/actions/homebrew-packages-setup
        with:
          cache-mode: use
          downloads-hash-from-prepare: ${{ matrix.homebrew-downloads-hash-from-prepare }}

      - name: Setup tools through mise
        uses: ./.github/actions/mise-project-setup
        with:
          directory: solvers/cpp

      - id: setup-cmake-project
        name: Setup CMake project
        uses: ./.github/actions/cmake-project-setup
        with:
          conan-cache-key-prefix: conan-${{ steps.preset-name.outputs.name }}

      - if: matrix.os == 'ubuntu'
        name: Specify HOMEBREW_PREFIX
        run: |
          brewPrefix=$(brew --prefix)
          echo "HOMEBREW_PREFIX=${brewPrefix}" | tr -d '\n' >> "${GITHUB_ENV}"
        shell: bash

      - if: matrix.os == 'ubuntu' && matrix.compiler == 'gcc'
        name: Add brew binutils to path
        run: |
          echo "${HOMEBREW_PREFIX}/opt/binutils/bin" >> "${GITHUB_PATH}"
        shell: bash

      - if: matrix.buildType == 'sanitizers'
        name: Configure sanitizers
        run: |
          {
            echo "ASAN_OPTIONS=detect_leaks=1"
            echo "UBSAN_OPTIONS=print_stacktrace=1"
          } | tee -a "${GITHUB_ENV}"

          echo "${HOMEBREW_PREFIX}/opt/llvm/bin" | tee -a "${GITHUB_PATH}"
        shell: bash

      - name: Run CMake workflow
        uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
        with:
          cmakeListsTxtPath: solvers/cpp/CMakeLists.txt
          workflowPreset: ${{ steps.preset-name.outputs.name }}

      - name: Restore aoc-main uv project
        uses: ./.github/actions/uv-project-setup
        with:
          directory: aoc-main

      - name: Extract inputs
        uses: ./.github/actions/extract-inputs
        with:
          encryption-key: ${{ secrets.INPUTS_ENCRYPTION_KEY }}

      - name: Run all solutions
        env:
          AOC_CPP_SKIP_PREPARE: "1"
          AOC_CPP_WORKFLOW_PRESET: ${{ steps.preset-name.outputs.name }}
        run: mise run aoc:all -- --solver cpp

      - name: Finalize cmake project
        uses: ./.github/actions/cmake-project-finalize
        with:
          conan-cache-key-prefix: conan-${{ steps.preset-name.outputs.name }}
          conan-cache-matched-key: ${{ steps.setup-cmake-project.outputs.conan-cache-matched-key }}
